#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

h1, h2 {
  color: white;
}


/* container */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: rgb(67, 66, 65);
  border-radius: 1em;
  padding: 1em;
}

.search input {
  padding: 0.5em;
  margin: 1em;
  width: 100%;
  max-width: 20em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

/* chat header styling */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.send-message-btn {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  padding: 0.7rem;
}

.message-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.color-thumbnail {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: aqua;
}


