#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

h1, h2 {
  color: white;
}


/* container */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: rgb(67, 66, 65);
  border-radius: 1em;
  padding: 1em;
}

.search input {
  padding: 0.5em;
  margin: 1em;
  width: 100%;
  max-width: 20em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  gap: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.text-container h3 {
  margin: 0;  
}

.text-container p {
  margin: 0;
}

/* chat header styling */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.send-message-btn {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  padding: 0.7rem;
}

.message-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.color-thumbnail {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: aqua;
  flex-basis: 2rem;
}

@media (min-width: 750px) {
  .chat-container {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .chat-container {
    width: 60%;
  }
}


