#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1, h2 {
  color: white;
}

.header-container h2 {
  font-size: 2rem;
}

/* windows icons */ 

.windows-icons {
  display: flex;
  gap: 0.6rem;
}

.icon-close {
  background-color: red;
}

.icon-minimize {
  background-color: yellow;
}

.icon-maximize {
  background-color: green;
}

.windows-icons span {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
}

/* container */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(45, 44, 44);
  border-radius: 1em;
  padding: 2rem;
}

.search input {
  padding: 0.5em;
  margin: 1em;
  width: 100%;
  max-width: 20em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  gap: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.text-container h3 {
  margin: 0;  
}

.text-container p {
  margin: 0;
}

/* chat header styling */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.send-message-btn {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  padding: 0.7rem;
}

.message-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.color-thumbnail {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: aqua;
  border-color: rgb(4, 126, 126);
  border-width: 4px;
  border-style: solid;
  flex-basis: 3rem;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  flex-basis: 3rem;
}

.menu-icon span {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 20px;
}

@media (min-width: 750px) {
  .chat-container {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .chat-container {
    width: 60%;
  }
}


